________________________________________________________________________________________________________
<br>
<br>
<!-- <div *ngFor="let question of questions; let i = index"> -->
<div>
    Enter Question:
    <input [(ngModel)]="question.description" />
</div>

Enter Answer:<br>
<div *ngFor="let answer of answers; let i = index">
    <input [(ngModel)]="answers![i].description" />
    <input [(ngModel)]="answers![i].isCorrect" type="checkbox" /> Is Correct?

    <!-- <input (input)="answer.isCorrect" type="checkbox"><br> -->
</div>
<button (click)="addExtraAnswer()">Add Extra Answer</button>


<button (click)="testSaveQuestion()">Submit Question</button>